/*button*/

.btn {
  text-align: center;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  max-width: 165px;
  width: 100%;
  color: #FFF;
  display: inline-block;
  padding: 8.5px 0;
  background: none;
  border: 1px solid #FFF;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #ddd;
    color: #fff;
  }
}
.btn2 {
  text-align: center;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  max-width: 165px;
  width: 100%;
  color: #FFF;
  display: inline-block;
  padding: 8.5px 0;
  background: #0769AC;
  border: 1px solid #0769AC;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #ddd;
    color: #fff;
  }
}
