/*banner*/

// #banner {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   .row{
//     max-width: 100%;
//   }
//   img{
//     max-width: 100%;
//     width: 100%;
//     height: 909px;
//     object-fit: cover;
//   }
// }
