/*footer*/
#contact{
  padding: 43px 0 113px;
  h2{
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 70px;
    color: #FFF;
    line-height: 117%;
    position: relative;
    margin-bottom: 25px;
    &::after{
      content: "";
      width: 38px;
      height: 5px;
      background: #0482C2;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .ctc-form{
    max-width: 1052px;
    .qtop{
      @include flex(row,wrap, space-between, stretch);
      label{
        @include flex-basis(1052px, 342px);
        input{
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
          padding: 10px 30px;
          height: 38px;
          font-family: "Lato";
          font-weight: 300;
          font-size: 18px;
          color: #000;
          &::placeholder{
            font-family: "Lato";
            font-weight: 300;
            font-size: 18px;
            color: #000;
          }
        }
      }
    }
    textarea{
      resize: none;
      margin: 15px 0 20px;
      height: 182px;
      border-radius: 10px;
      padding: 10px 30px;
      font-family: "Lato";
      font-weight: 300;
      font-size: 18px;
      color: #000;
      &::placeholder{
        font-family: "Lato";
        font-weight: 300;
        font-size: 18px;
        color: #000;
      }
    }
    .qbot{
      font-family: "Lato";
      font-weight: 300;
      font-size: 18px;
      color: #FFF;
    }
  }
}
#info{
  max-width: 1496px;
  margin: 0 auto;
  background: rgba(17,38,96,0.84);
  padding: 39px 0;
  .row{
    max-width: 1220px;
  }
  .footer-logo{
    max-width: 443px;
    width: 100%;
  }
  .container{
    @include flex(row,wrap, space-between, stretch);
    div{
      @include flex-basis(1220px, 383px);
    }
  }
  ul {
    margin: 0 auto;
    padding: 0;
    @include flex(row,wrap,space-between,flex-start);
    max-width: 736px;
    li {
      display: inline-block;
      vertical-align: middle;
      a {
        display: inline-block;
        font-family: "Lato",sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        padding-bottom: 27px;
        position: relative;
      }
      &.active-menu a, a:hover {
      }
    }
  }
}
#footer {
  background: url("../images/common/footer.jpg")no-repeat center center;
  background-size: cover;
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
