/*header*/

#header {
  position: relative;
  padding: 24px;
  overflow: hidden;
  .row{
    position: relative;
    max-width: 100%;
    background: linear-gradient(to top left,rgba(21,49,120,0.54), transparent);
    z-index: 9999;
  }
  .phone-header{
    position: absolute;
    top: 0;
    right: 0;
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      @include flex(row,wrap,space-between,flex-start);
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          display: inline-block;
          font-family: "Lato",sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: #FFFFFF;
          padding-bottom: 27px;
          position: relative;
        }
        &.active-menu a, a:hover {
          &::after{
            content: "";
            width: 38px;
            height: 5px;
            background: #FFF;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .header-top{
    max-width: 1354px;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0 0;
    @include flex(row,wrap,space-between,flex-start);
    .left{
      @include flex-basis(1354px, 443px);
      img{
        max-width: 439px;
        width: 100%;
      }
    }
    .right{
      @include flex-basis(1354px, 736px);
    }
  }
  .header-bottom{
    max-width: 1354px;
    width: 80%;
    margin: 0 auto;
    text-align: right;
    padding: 225px 0 183px;
    .social-media{
      a{
        display: inline-block;
        font-family: "socialico";
        font-size: 38px;
        color: #FFF;
        margin-left: 52px;
      }
    }
    .text{
      h1{
        font-family: "Playfair Display";
        font-weight: 400;
        font-size: 54px;
        color: #FFF;
      }
      margin-bottom: 40px;
    }
    .buttons{
    }
  }
  .slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    img{
      max-width: 100%;
      width: 100%;
      height: 102vh;
      object-fit: cover;
    }
  }
}
