#welcome{
  padding: 57px 0 92px;
  .row{
    max-width: 1454px;
    width: 95%;
  }
  h2{
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 70px;
    color: #153178;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 30px;
    &::before{
      content: "";
      width: 38px;
      height: 5px;
      background: #DDDDDD;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .container{
    @include flex(row,wrap,space-between,flex-start)
    .left{
      @include flex-basis(1454px, 454px);
      .panel.first{
        position: relative;
        padding: 24.5px 50px 24.5px 21px;
        border: 1px solid #DDDDDD;
        margin: 20px 0;
        &::before{
          content: "";
          background: url('../images/common/sprite.png') no-repeat 0 0;
        	width: 74px;
        	height: 74px;
          position: absolute;
          top: 50%;
          right: -37px;
          transform: translateY(-50%);
        }
      }
      .panel.second{
        position: relative;
        padding: 24.5px 50px 24.5px 21px;
        border: 1px solid #DDDDDD;
        margin: 20px 0;
        &::before{
          content: "";
          background: url('../images/common/sprite.png') no-repeat 0 -97px;
        	width: 74px;
        	height: 75px;
          position: absolute;
          top: 50%;
          right: -37px;
          transform: translateY(-50%);
        }
      }
      .panel.third{
        position: relative;
        padding: 10.5px 50px 10.5px 21px;
        border: 1px solid #DDDDDD;
        margin: 20px 0;
        &::before{
          content: "";
          background: url('../images/common/sprite.png') no-repeat no-repeat 0 -191px;
        	width: 74px;
        	height: 75px;
          position: absolute;
          top: 50%;
          right: -37px;
          transform: translateY(-50%);
        }
      }
      p{
        text-align: right;
        font-family: "Lato";
        font-weight: 300;
        font-size: 18px;
        color: #000;
      }
    }
    .mid{
      @include flex-basis(1454px, 406px);
      position: relative;
      .button{
        padding: 24px 0;
        text-align: center;
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.76);
      }
    }
    .right{
      @include flex-basis(1454px, 454px);
      .panel.first{
        position: relative;
        padding: 24.5px 0px 24.5px 50px;
        border: 1px solid #DDDDDD;
        margin: 20px 0;
        &::before{
          content: "";
          background: url('../images/common/sprite.png') no-repeat -105px -1px;
        	width: 74px;
        	height: 74px;
          position: absolute;
          top: 50%;
          left: -37px;
          transform: translateY(-50%);
        }
      }
      .panel.second{
        position: relative;
        padding: 13.5px 0px 13.5px 50px;
        border: 1px solid #DDDDDD;
        margin: 20px 0;
        &::before{
          content: "";
          background: url('../images/common/sprite.png') no-repeat -105px -97px;
        	width: 74px;
        	height: 75px;
          position: absolute;
          top: 50%;
          left: -37px;
          transform: translateY(-50%);
        }
      }
      .panel.third{
        position: relative;
        padding: 10.5px 0px 10.5px 50px;
        border: 1px solid #DDDDDD;
        margin: 20px 0;
        &::before{
          content: "";
          background: url('../images/common/sprite.png') no-repeat -105px -191px;
        	width: 74px;
        	height: 75px;
          position: absolute;
          top: 50%;
          left: -37px;
          transform: translateY(-50%);
        }
      }
      p{
        text-align: left;
        font-family: "Lato";
        font-weight: 300;
        font-size: 18px;
        color: #000;
      }
    }
  }
}
