#what{
  padding: 50px 0;
  .row{max-width: 980px;}
  .panel{
    position: relative;
    padding: 44px 0 53px;
    max-width: 980px;
    margin: 0 auto;
    border: 2px solid #DDDDDD;
    border-left: 4px solid #0769AC;
    h2{
      font-family: "Playfair Display";
      font-weight: 400;
      font-size: 70px;
      line-height: 116%;
      padding-bottom: 9px;
      color: #000;
      position: relative;
      span{
        color: #143178;
      }
      &::after{
        content: "";
        width: 38px;
        height: 5px;
        background: #DDDDDD;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    p.comment{
      font-family: "Lato";
      font-weight: 300;
      font-size: 18px;
      color: #000;
      line-height: 156%;
      max-width: 815px;
      margin: 24px auto 23px;
    }
    p.author{
      font-family: "Lato";
      font-weight: 300;
      font-size: 18px;
      color: #153178;
      line-height: 156%;
      margin: 0 auto;
    }
    &::before{
      content: "";
      background: url('../images/common/sprite.png') no-repeat -207px -1px;
    	width: 74px;
    	height: 74px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -37px;
    }
  }
}
