#about{
  background: url(../images/common/aboutBG.jpg)no-repeat center center;
  background-size: cover;
  padding: 47px;
  .row{
    max-width: 100%;
    width: 100%;
    background: rgba(21,49,120,0.85);
    padding: 68px 0 42px;
  }
  h1{
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 73px;
    line-height: 104%;
    color: #FFFFFF;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 22px;
    &::before{
      content: "";
      width: 109px;
      height: 2px;
      background: #DDDDDD;
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p{
    font-family: "Lato";
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 1102px;
    margin: 22px auto;
  }
  h3{
    max-width: 673px;
    width: 100%;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 37px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px 0;
    margin: 34px auto 0;
  }
}
