#house{
  padding: 22px 0 0;
  .row{
    max-width: 1419px;
    @include flex(row, wrap, space-around, stretch);
  }
  .text{
    @include flex-basis(1419px, 471px);
    padding: 23px 0 18px;
    margin-bottom: 50px;
    &:nth-of-type(2){
      border-right: 1px solid #DDDDDD;
      border-left: 1px solid #DDDDDD;
    }
    p{
      max-width: 300px;
      margin: 0 auto;
      font-family: "Lato";
      font-weight: 300;
      font-size: 23px;
      line-height: 122%;
    }
  }
  .house{
    max-width: 100%;
    width: 100%;
  }
}
