#services{
  padding: 86px 0 57px;
  .row{
    max-width: 1419px;
    @include flex(row, wrap, space-around, stretch);
  }
  .service{
    @include flex-basis(1419px, 418px)
    img{
      width: 100%;
      object-fit: cover;
    }
    .links{
      background: #000000;
      max-width: 366px;
      margin: -69px auto 0;
      padding: 34px 0 42px;
      position: relative;
      z-index: 1;
      h4{
        font-family: "Playfair Display";
        font-weight: 400;
        font-size: 25px;
        color: #FFFFFF;
        line-height: 132%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        &::after{
          content: "";
          width: 109px;
          height: 2px;
          background: #FFFFFF;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &.last{
        padding: 17px 0 36px;
        h4{padding-bottom: 10px;}
      }
    }
  }
}
