@media screen and (max-width:1600px) and (min-width: 960px){
  .btn{
    font-size: 1.125vw;
    max-width: 10.313vw;
    padding: 0.531vw 0;
  }
  .btn2{
    font-size: 1.125vw;
    max-width: 10.313vw;
    padding: 0.531vw 0;
  }
  /*header*/
  #header{
    .row{width: 100%;}
    nav{
      ul{
        li{
          a{
            font-size: 1.125vw;
          }
        }
      }
    }
    .header-top{
      padding: 2.500vw;
    }
    .header-bottom{
      padding: 14.063vw 0 11.438vw;
      .social-media{
        a{
          font-size: 2.375vw;
          margin-left:3.250vw;
        }
      }
      .text{
        h1{
          font-size: 3.375vw;
        }
        margin-bottom: 2.500vw;
      }
    }
  }
  #header .phone-header{width: 5.063vw}
  /*welcome*/
  #welcome{padding: 3.563vw 0 5.750vw;}
  #welcome h2 {font-size: 4.375vw;margin-bottom: 1.875vw}
  #welcome .container .left p{font-size: 1.125vw}
  #welcome .container .mid img{width: 100%;}
  #welcome .container .right p{font-size: 1.125vw}
  #welcome .container .left .panel.first::before{background-size: 21vw 16vw; width: 4.625vw; height: 4.625vw;right: -2.313vw}
  #welcome .container .left .panel.second::before{background: url(../images/common/sprite.png) no-repeat 0 -5.7vw;background-size: 21vw 16vw; width: 4.625vw; height: 4.688vw; right: -2.313vw}
  #welcome .container .left .panel.third::before{background: url(../images/common/sprite.png) no-repeat 0 -11.5vw;background-size: 21vw 16vw;width: 4.625vw; height: 4.625vw; right: -2.313vw}
  #welcome .container .right .panel.first::before{background: url(../images/common/sprite.png) no-repeat -6.4vw 0vw;background-size: 21vw 16vw; width: 4.625vw; height: 4.625vw;left: -2.313vw}
  #welcome .container .right .panel.second::before{background: url(../images/common/sprite.png) no-repeat -6.4vw -5.7vw;background-size: 21vw 16vw; width: 4.625vw; height: 4.688vw; left: -2.313vw}
  #welcome .container .right .panel.third::before{background: url(../images/common/sprite.png) no-repeat -6.4vw -11.5vw;background-size: 21vw 16vw;width: 4.625vw; height: 4.625vw; left: -2.313vw}
  /*about*/
  #about{padding: 2.938vw;}
  #about .row{padding: 4.250vw 0 2.625vw;}
  #about h1{font-size: 4.563vw; margin-bottom: 1.375vw;}
  #about h1::before{width: 6.813vw;}
  #about p{font-size: 1.063vw; line-height: 1.750vw; max-width:68.875vw;margin: 1.375vw auto;}
  #about h3{max-width: 42.063vw; font-size: 2.313vw; padding: 1vw 0; margin: 2.125vw auto 0;}
  /*services*/
  #services{padding: 5.375vw 0 3.563vw}
  #services .row{max-width: 88.688vw;}
  #services .service .links{max-width: 22.875vw; padding: 2.125vw 0 2.625vw;}
  #services .service .links h4 {font-size: 1.563vw;padding-bottom: 1.250vw;margin-bottom: 1.250vw;}
  #services .service .links.last {padding: 1.063vw 0 2.250vw;}
  #services .service .links.last h4 {padding-bottom: 0.625vw;}
  /*house*/
  #house { padding: 1.375vw 0 0;}
  #house .row{max-width: 88.688vw;}
  #house .text {padding: 1.438vw 0 1.125vw;margin-bottom: 3.125vw;}
  #house .text p {max-width: 18.750vw;font-size: 1.438vw;}
  /*what*/
  #what{padding: 3.125vw;}
  #what .row { max-width: 61.250vw;}
  #what .panel { padding: 2.750vw 0 3.313vw; max-width: 61.250vw;}
  #what .panel h2 {font-size: 4.375vw;padding-bottom: 0.563vw;}
  #what .panel p.comment {font-size: 1.125vw;max-width: 50.938vw;margin: 1.500vw auto 1.500vw;}
}
