@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; z-index: 999999; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 960px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 960px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-family: "Lato"; font-size: 18px; font-weight: 400; max-width: 165px; width: 100%; color: #FFF; display: inline-block; padding: 8.5px 0; background: none; border: 1px solid #FFF; border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #fff; }

.btn2 { text-align: center; font-family: "Lato"; font-size: 18px; font-weight: 400; max-width: 165px; width: 100%; color: #FFF; display: inline-block; padding: 8.5px 0; background: #0769AC; border: 1px solid #0769AC; border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn2:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #fff; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-size: 100px; font-weight: 100; color: #000; }

/*header*/
#header { position: relative; padding: 24px; overflow: hidden; }

#header .row { position: relative; max-width: 100%; background: -webkit-gradient(linear, right bottom, left top, from(rgba(21, 49, 120, 0.54)), to(transparent)); background: -webkit-linear-gradient(bottom right, rgba(21, 49, 120, 0.54), transparent); background: -o-linear-gradient(bottom right, rgba(21, 49, 120, 0.54), transparent); background: linear-gradient(to top left, rgba(21, 49, 120, 0.54), transparent); z-index: 9999; }

#header .phone-header { position: absolute; top: 0; right: 0; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#header nav ul li { display: inline-block; vertical-align: middle; }

#header nav ul li a { display: inline-block; font-family: "Lato",sans-serif; font-weight: 400; font-size: 18px; color: #FFFFFF; padding-bottom: 27px; position: relative; }

#header nav ul li.active-menu a::after, #header nav ul li a:hover::after { content: ""; width: 38px; height: 5px; background: #FFF; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#header .header-top { max-width: 1354px; width: 80%; margin: 0 auto; padding: 40px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#header .header-top .left { -ms-flex-preferred-size: 32.71787%; flex-basis: 32.71787%; }

#header .header-top .left img { max-width: 439px; width: 100%; }

#header .header-top .right { -ms-flex-preferred-size: 54.35746%; flex-basis: 54.35746%; }

#header .header-bottom { max-width: 1354px; width: 80%; margin: 0 auto; text-align: right; padding: 225px 0 183px; }

#header .header-bottom .social-media a { display: inline-block; font-family: "socialico"; font-size: 38px; color: #FFF; margin-left: 52px; }

#header .header-bottom .text { margin-bottom: 40px; }

#header .header-bottom .text h1 { font-family: "Playfair Display"; font-weight: 400; font-size: 54px; color: #FFF; }

#header .slider { position: absolute; top: 0; left: 0; right: 0; }

#header .slider img { max-width: 100%; width: 100%; height: 102vh; -o-object-fit: cover; object-fit: cover; }

/*banner*/
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#welcome { padding: 57px 0 92px; }

#welcome .row { max-width: 1454px; width: 95%; }

#welcome h2 { font-family: "Playfair Display"; font-weight: 400; font-size: 70px; color: #153178; padding-bottom: 10px; position: relative; margin-bottom: 30px; }

#welcome h2::before { content: ""; width: 38px; height: 5px; background: #DDDDDD; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#welcome .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#welcome .container .left { -ms-flex-preferred-size: 31.22421%; flex-basis: 31.22421%; }

#welcome .container .left .panel.first { position: relative; padding: 24.5px 50px 24.5px 21px; border: 1px solid #DDDDDD; margin: 20px 0; }

#welcome .container .left .panel.first::before { content: ""; background: url("../images/common/sprite.png") no-repeat 0 0; width: 74px; height: 74px; position: absolute; top: 50%; right: -37px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#welcome .container .left .panel.second { position: relative; padding: 24.5px 50px 24.5px 21px; border: 1px solid #DDDDDD; margin: 20px 0; }

#welcome .container .left .panel.second::before { content: ""; background: url("../images/common/sprite.png") no-repeat 0 -97px; width: 74px; height: 75px; position: absolute; top: 50%; right: -37px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#welcome .container .left .panel.third { position: relative; padding: 10.5px 50px 10.5px 21px; border: 1px solid #DDDDDD; margin: 20px 0; }

#welcome .container .left .panel.third::before { content: ""; background: url("../images/common/sprite.png") no-repeat no-repeat 0 -191px; width: 74px; height: 75px; position: absolute; top: 50%; right: -37px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#welcome .container .left p { text-align: right; font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#welcome .container .mid { -ms-flex-preferred-size: 27.92297%; flex-basis: 27.92297%; position: relative; }

#welcome .container .mid .button { padding: 24px 0; text-align: center; position: absolute; bottom: 3px; left: 0; right: 0; background: rgba(0, 0, 0, 0.76); }

#welcome .container .right { -ms-flex-preferred-size: 31.22421%; flex-basis: 31.22421%; }

#welcome .container .right .panel.first { position: relative; padding: 24.5px 0px 24.5px 50px; border: 1px solid #DDDDDD; margin: 20px 0; }

#welcome .container .right .panel.first::before { content: ""; background: url("../images/common/sprite.png") no-repeat -105px -1px; width: 74px; height: 74px; position: absolute; top: 50%; left: -37px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#welcome .container .right .panel.second { position: relative; padding: 13.5px 0px 13.5px 50px; border: 1px solid #DDDDDD; margin: 20px 0; }

#welcome .container .right .panel.second::before { content: ""; background: url("../images/common/sprite.png") no-repeat -105px -97px; width: 74px; height: 75px; position: absolute; top: 50%; left: -37px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#welcome .container .right .panel.third { position: relative; padding: 10.5px 0px 10.5px 50px; border: 1px solid #DDDDDD; margin: 20px 0; }

#welcome .container .right .panel.third::before { content: ""; background: url("../images/common/sprite.png") no-repeat -105px -191px; width: 74px; height: 75px; position: absolute; top: 50%; left: -37px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#welcome .container .right p { text-align: left; font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#about { background: url(../images/common/aboutBG.jpg) no-repeat center center; background-size: cover; padding: 47px; }

#about .row { max-width: 100%; width: 100%; background: rgba(21, 49, 120, 0.85); padding: 68px 0 42px; }

#about h1 { font-family: "Playfair Display"; font-weight: 400; font-size: 73px; line-height: 104%; color: #FFFFFF; padding-bottom: 10px; position: relative; margin-bottom: 22px; }

#about h1::before { content: ""; width: 109px; height: 2px; background: #DDDDDD; position: absolute; bottom: -4px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#about p { font-family: "Lato"; font-weight: 400; font-size: 17px; line-height: 28px; color: #FFFFFF; max-width: 1102px; margin: 22px auto; }

#about h3 { max-width: 673px; width: 100%; text-align: center; font-family: "Playfair Display"; font-size: 37px; color: #FFFFFF; border: 1px solid #FFFFFF; padding: 10px 0; margin: 34px auto 0; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#services { padding: 86px 0 57px; }

#services .row { max-width: 1419px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#services .service { -ms-flex-preferred-size: 29.45736%; flex-basis: 29.45736%; }

#services .service img { width: 100%; -o-object-fit: cover; object-fit: cover; }

#services .service .links { background: #000000; max-width: 366px; margin: -69px auto 0; padding: 34px 0 42px; position: relative; z-index: 1; }

#services .service .links h4 { font-family: "Playfair Display"; font-weight: 400; font-size: 25px; color: #FFFFFF; line-height: 132%; padding-bottom: 20px; margin-bottom: 20px; position: relative; }

#services .service .links h4::after { content: ""; width: 109px; height: 2px; background: #FFFFFF; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#services .service .links.last { padding: 17px 0 36px; }

#services .service .links.last h4 { padding-bottom: 10px; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#house { padding: 22px 0 0; }

#house .row { max-width: 1419px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#house .text { -ms-flex-preferred-size: 33.19239%; flex-basis: 33.19239%; padding: 23px 0 18px; margin-bottom: 50px; }

#house .text:nth-of-type(2) { border-right: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; }

#house .text p { max-width: 300px; margin: 0 auto; font-family: "Lato"; font-weight: 300; font-size: 23px; line-height: 122%; }

#house .house { max-width: 100%; width: 100%; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#what { padding: 50px 0; }

#what .row { max-width: 980px; }

#what .panel { position: relative; padding: 44px 0 53px; max-width: 980px; margin: 0 auto; border: 2px solid #DDDDDD; border-left: 4px solid #0769AC; }

#what .panel h2 { font-family: "Playfair Display"; font-weight: 400; font-size: 70px; line-height: 116%; padding-bottom: 9px; color: #000; position: relative; }

#what .panel h2 span { color: #143178; }

#what .panel h2::after { content: ""; width: 38px; height: 5px; background: #DDDDDD; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#what .panel p.comment { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; line-height: 156%; max-width: 815px; margin: 24px auto 23px; }

#what .panel p.author { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #153178; line-height: 156%; margin: 0 auto; }

#what .panel::before { content: ""; background: url("../images/common/sprite.png") no-repeat -207px -1px; width: 74px; height: 74px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: -37px; }

/*footer*/
#contact { padding: 43px 0 113px; }

#contact h2 { font-family: "Playfair Display"; font-weight: 400; font-size: 70px; color: #FFF; line-height: 117%; position: relative; margin-bottom: 25px; }

#contact h2::after { content: ""; width: 38px; height: 5px; background: #0482C2; position: absolute; bottom: -5px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#contact .ctc-form { max-width: 1052px; }

#contact .ctc-form .qtop { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#contact .ctc-form .qtop label { -ms-flex-preferred-size: 32.50951%; flex-basis: 32.50951%; }

#contact .ctc-form .qtop label input { border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; padding: 10px 30px; height: 38px; font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form .qtop label input::-webkit-input-placeholder { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form .qtop label input:-ms-input-placeholder { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form .qtop label input::-ms-input-placeholder { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form .qtop label input::placeholder { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form textarea { resize: none; margin: 15px 0 20px; height: 182px; border-radius: 10px; padding: 10px 30px; font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form textarea::-webkit-input-placeholder { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form textarea:-ms-input-placeholder { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form textarea::-ms-input-placeholder { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form textarea::placeholder { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #000; }

#contact .ctc-form .qbot { font-family: "Lato"; font-weight: 300; font-size: 18px; color: #FFF; }

#info { max-width: 1496px; margin: 0 auto; background: rgba(17, 38, 96, 0.84); padding: 39px 0; }

#info .row { max-width: 1220px; }

#info .footer-logo { max-width: 443px; width: 100%; }

#info .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#info .container div { -ms-flex-preferred-size: 31.39344%; flex-basis: 31.39344%; }

#info ul { margin: 0 auto; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; max-width: 736px; }

#info ul li { display: inline-block; vertical-align: middle; }

#info ul li a { display: inline-block; font-family: "Lato",sans-serif; font-weight: 400; font-size: 18px; color: #FFFFFF; padding-bottom: 27px; position: relative; }

#footer { background: url("../images/common/footer.jpg") no-repeat center center; background-size: cover; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1600px) and (min-width: 960px) { .btn { font-size: 1.125vw; max-width: 10.313vw; padding: 0.531vw 0; }
  .btn2 { font-size: 1.125vw; max-width: 10.313vw; padding: 0.531vw 0; }
  /*header*/
  #header .row { width: 100%; }
  #header nav ul li a { font-size: 1.125vw; }
  #header .header-top { padding: 2.500vw; }
  #header .header-bottom { padding: 14.063vw 0 11.438vw; }
  #header .header-bottom .social-media a { font-size: 2.375vw; margin-left: 3.250vw; }
  #header .header-bottom .text { margin-bottom: 2.500vw; }
  #header .header-bottom .text h1 { font-size: 3.375vw; }
  #header .phone-header { width: 5.063vw; }
  /*welcome*/
  #welcome { padding: 3.563vw 0 5.750vw; }
  #welcome h2 { font-size: 4.375vw; margin-bottom: 1.875vw; }
  #welcome .container .left p { font-size: 1.125vw; }
  #welcome .container .mid img { width: 100%; }
  #welcome .container .right p { font-size: 1.125vw; }
  #welcome .container .left .panel.first::before { background-size: 21vw 16vw; width: 4.625vw; height: 4.625vw; right: -2.313vw; }
  #welcome .container .left .panel.second::before { background: url(../images/common/sprite.png) no-repeat 0 -5.7vw; background-size: 21vw 16vw; width: 4.625vw; height: 4.688vw; right: -2.313vw; }
  #welcome .container .left .panel.third::before { background: url(../images/common/sprite.png) no-repeat 0 -11.5vw; background-size: 21vw 16vw; width: 4.625vw; height: 4.625vw; right: -2.313vw; }
  #welcome .container .right .panel.first::before { background: url(../images/common/sprite.png) no-repeat -6.4vw 0vw; background-size: 21vw 16vw; width: 4.625vw; height: 4.625vw; left: -2.313vw; }
  #welcome .container .right .panel.second::before { background: url(../images/common/sprite.png) no-repeat -6.4vw -5.7vw; background-size: 21vw 16vw; width: 4.625vw; height: 4.688vw; left: -2.313vw; }
  #welcome .container .right .panel.third::before { background: url(../images/common/sprite.png) no-repeat -6.4vw -11.5vw; background-size: 21vw 16vw; width: 4.625vw; height: 4.625vw; left: -2.313vw; }
  /*about*/
  #about { padding: 2.938vw; }
  #about .row { padding: 4.250vw 0 2.625vw; }
  #about h1 { font-size: 4.563vw; margin-bottom: 1.375vw; }
  #about h1::before { width: 6.813vw; }
  #about p { font-size: 1.063vw; line-height: 1.750vw; max-width: 68.875vw; margin: 1.375vw auto; }
  #about h3 { max-width: 42.063vw; font-size: 2.313vw; padding: 1vw 0; margin: 2.125vw auto 0; }
  /*services*/
  #services { padding: 5.375vw 0 3.563vw; }
  #services .row { max-width: 88.688vw; }
  #services .service .links { max-width: 22.875vw; padding: 2.125vw 0 2.625vw; }
  #services .service .links h4 { font-size: 1.563vw; padding-bottom: 1.250vw; margin-bottom: 1.250vw; }
  #services .service .links.last { padding: 1.063vw 0 2.250vw; }
  #services .service .links.last h4 { padding-bottom: 0.625vw; }
  /*house*/
  #house { padding: 1.375vw 0 0; }
  #house .row { max-width: 88.688vw; }
  #house .text { padding: 1.438vw 0 1.125vw; margin-bottom: 3.125vw; }
  #house .text p { max-width: 18.750vw; font-size: 1.438vw; }
  /*what*/
  #what { padding: 3.125vw; }
  #what .row { max-width: 61.250vw; }
  #what .panel { padding: 2.750vw 0 3.313vw; max-width: 61.250vw; }
  #what .panel h2 { font-size: 4.375vw; padding-bottom: 0.563vw; }
  #what .panel p.comment { font-size: 1.125vw; max-width: 50.938vw; margin: 1.500vw auto 1.500vw; } }

@media screen and (max-width: 960px) { body { min-width: 320px; }
  .row { width: 95%; } }

@media screen and (max-width: 800px) { [class*="col-"] { width: 100%; }
  #header { padding: 0; }
  #header .row { width: 100%; }
  #header nav { display: block; height: auto; }
  #header nav ul { width: 100%; display: none; height: auto; border-bottom: 5px solid #000; padding: 0 15px; }
  #header nav ul li { width: 100%; position: relative; }
  #header nav ul li a { display: block; float: none; padding: 10px 0; }
  #header nav a { text-align: left; width: 100%; }
  #header nav a strong { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px; }
  #header nav a#pull { display: block; color: #fff; background-color: #000; height: 30px; padding: 10px 0; width: 100%; position: relative; }
  #header nav a#pull:after { content: ""; background: url("../images/nav-icon.png") no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  .cta { background: #035B96 url("../images/common/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #013f9a; border-top-left-radius: 40px; bottom: 1%; display: block; height: 80px; position: fixed; right: 0; text-decoration: none; text-indent: -9999em; width: 100px; z-index: 999; } }

/*@media screen and (max-width:640px){

}*/
/*@media screen and (max-width:480px){

}*/
/*@media screen and (max-width:400px){

}*/
/*@media screen and (max-width:320px){

}*/
